[submodule "app/player"]
	path = app/player
	url = https://github.com/Zeega/Zeega-Player.git
[submodule "app/engine"]
	path = app/engine
	url = https://github.com/Zeega/Zeega-Parser.git
[submodule "app/analytics"]
	path = app/analytics
	url = https://github.com/Zeega/Analytics-Wrapper.git
[submodule "app/common"]
	path = app/common
	url = https://github.com/Zeega/_zeega.common.git
