<link rel="icon" type="image/png" href="{{ asset('favicon.png')}}">
<title>{% block title %}Spectacle{% endblock %}</title>

<meta name="description" content="Spectacle is a slideshow generator for Harvard&apos;s image resources.">
<meta name="keywords" content="slideshow, interactive, gif, audio">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
