<div class="ZEEGA-hmenu dark">
    <ul class='pull-left'>
        <li>
            <a href="#" data-layerType="Rectangle">
                <div class="hmenu-label">color</div>
                <i class="icon-th-large icon-white"></i>
            </a>
        </li>
        <li>
            <a href="#" data-layerType="Text">
                <div class="hmenu-label">text</div>
                <i class="icon-font icon-white"></i>
            </a>
        </li>
        
        <li>
            <a href="#" data-layerType="Geo">
                <div class="hmenu-label">streetview</div>
                <i class="icon-map-marker icon-white"></i>
            </a>
        </li>
        <li>
            <a href="#" data-layerType="Popup">
                <div class="hmenu-label">popup</div>
                <i class="icon-share icon-white"></i>
            </a>
        </li>
    </ul>
</div>

<div class="ZEEGA-layer-list">
    <ul></ul>
</div>