<div class="ZEEGA-layer-drawer ZEEGA-hmenu clear">
    <ul>
         <li>
            <a href="#"
                data-layer-type="Rectangle"
                title="add color filter"
                data-gravity="n"
            >
                <div class="item-label">filter</div>
                <i class="icon-th-large icon-white"></i>
            </a>
        </li>
        <li>
            <a href="#"
                data-layer-type="TextV2"
                title="add text"
                data-gravity="n"
            >
                <div class="item-label">text</div>
                <i class="icon-font icon-white"></i>
            </a>
        </li>
    </ul>
</div>
