<div class="media-collection-header">
    <div class="media-collection-search">

        <input class="search-box" type="text" placeholder="<%= placeholder %>" value="<%= searchQuery %>" />
        <a class="submit btnz"><span class="label">search</span></a>

    </div>
    <div class="media-collection-headline">
        <p> <%= headline %> </p>
    </div>

</div>
<div class="media-collection-wrapper" >
    <div class="media-collection-container">
        <ul class="media-collection-items"></ul>
    </div>
</div>