<div class="media-drawer-controls ZEEGA-hmenu light img-tabs">
    <ul class='pull-left'>
        <li>
            <a href="#" data-api = "LibraryCloud" class="media-toggle"
                title="Harvard's LibraryCloud Images"
                data-gravity="sw"
            ><i class="socialz-harvard-lc"></i></a>
        </li>
        
        <li>
            <a href="#" data-api = "Via" class="media-toggle"
                title="Harvard's Via Images"
                data-gravity="sw"
            ><i class="socialz-harvard-via"></i></a>
        </li>

        <li>
            <a href="#" data-api = "Oasis" class="media-toggle"
                title="Harvard's Oasis Images"
                data-gravity="sw"
            ><i class="socialz-harvard-oasis"></i></a>
        </li>

        <li>
            <a href="#" data-api = "Soundcloud" class="media-toggle"
                title="sounds from SoundCloud"
                data-gravity="sw"
            ><i class="socialz-soundcloud"></i></a>
        </li>

      <!--
        <li>
            <a href="#" data-api="Tumblr" class="media-toggle"
                title="GIFs and images from Tumblr"
                data-gravity="sw"
            ><i class="socialz-tumblr"></i></a>
        </li>
        <li>
            <a href="#" data-api = "Instagram" class="media-toggle"
                title="images from Instagram"
                data-gravity="sw"
            ><i class="socialz-instagram"></i></a>
        </li>
    -->

        <li>
            <a href="#" data-api = "Flickr" class="media-toggle"
                title="images from Flickr"
                data-gravity="sw"
            ><i class="socialz-flickr"></i></a>
        </li>

        <li>
            <a href="#" data-api = "Giphy" class="media-toggle"
                title="GIFs from Giphy"
                data-gravity="sw"
            ><i class="socialz-giphy"></i></a>
        </li>

       
      <% if ( remix ) { %>
        <li>
            <a href="#" data-api = "Remix" class="media-toggle"
                title="Media from Remix"
                data-gravity="sw"
            ><i class="socialz-remix"></i></a>
        </li>
       <% } %>

    </ul>
    <ul class="pull-right">
        <li >
            <a id="media-upload-tab" href="#" data-api = "Zeega" class="media-toggle">UPLOAD</a>
        </li>
    </ul>
    
    
</div>
<div class="ZEEGA-items"></div>
