<div class="about" />
    
    <div class="logo-wrapper">
        <span class="logo-mini"></span>
    </div>

    <div>
        <h2>
          Go ahead, put on a show!
        </h2>
          <p>With images from the Harvard Library, create slideshows to highlight a collection, convey and idea, or just share what you like.</p>

          <p>Want to know more? Read the <a class="about-link" href="<%=path %>about">FAQ</a>, and skim the <a class="about-link" href="<%=path %>docs/Spectacle_User_Doc.pdf">user guide</a>.</p>

          <p>Please complete the <a class="about-link" target="_blank" href="http://goo.gl/dx5nAD">feedback form</a> to let us know what you think.</p>
        <br>
        <a class="btnz join-zeega" href="<%=path %>register" > Sign Up</a>
    </div>

</div>

<div class="explore">
    <!-- 
    <h2>Explore:</h2>
    <ul>
        <li>
            <a data-bypass="true" href="<%=path %>tag/bestof" class="tag-link" name="bestof">#bestof</a>
        </li>
    </ul>
    -->
</div>
