<div class="about" />
    
    <div class="logo-wrapper">
        <span class="logo-mini"></span>
    </div>

    <div>
        <h2>
          <p>Convey an idea, or just share what you like.</p><p>Go ahead, put on a show.</p>
          <a class="about-link" href="<%=path %>about">Learn more</a> or 
          skim the <a class="about-link" href="<%=path %>docs/Spectacle_User_Doc.pdf">User Guide</a>
        <h2>
        <br>
        <a class="btnz join-zeega" href="<%=path %>register" > Sign Up</a>
    </div>

</div>

<div class="explore">
    <!-- 
    <h2>Explore:</h2>
    <ul>
        <li>
            <a data-bypass="true" href="<%=path %>tag/bestof" class="tag-link" name="bestof">#bestof</a>
        </li>
    </ul>
    -->
</div>
