<div class="about" />
    
    <div class="logo-wrapper">
        <span class="logo-mini"></span>
    </div>

    <div>
        <h2>
            is the easiest way to create and share interactive videos.
            <a class="about-link" href="<%=path %>about">Learn more.</a>
        <h2>
        <br>
        <a class="btnz join-zeega" href="<%=path %>register" > Sign Up</a>
    </div>

</div>

<div class="explore">
    <!-- 
    <h2>Explore:</h2>
    <ul>
        <li>
            <a data-bypass="true" href="<%=path %>tag/bestof" class="tag-link" name="bestof">#bestof</a>
        </li>
    </ul>
    -->
</div>
