.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
[class^="zsocial-"] {
  background-image: url('../img/social-sprites-33px.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 33px;
  width: 33px;
}
.zsocial-twitter {
  background-position: 0px 0px;
}
.zsocial-twitter:hover {
  background-position: 0px -34px;
}
.zsocial-facebook {
  background-position: -33px 0px;
}
.zsocial-facebook:hover {
  background-position: -33px -34px;
}
.zsocial-tumblr {
  background-position: -66px 0px;
}
.zsocial-tumblr:hover {
  background-position: -66px -34px;
}
.zsocial-email {
  background-position: -99px 0px;
}
.zsocial-email:hover {
  background-position: -99px -34px;
}
[class^="zitem-"] {
  background-image: url('../img/zitems-50px.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  vertical-align: text-top;
  width: 50px;
}
[class^="zitem-"].zitem-30 {
  background-image: url('../img/zitems-30px.png');
  height: 30px;
  width: 30px;
}
.zitem-zeega00 {
  background-position: -50px 0px;
}
.zitem-zeega00.loaded {
  background-position: 0 0px;
}
.zitem-zeega00.loaded {
  background-position: -100px 0px;
}
.zitem-zeega00.zitem-30 {
  background-position: -30px 0px;
}
.zitem-zeega00.zitem-30.loaded {
  background-position: 0 0px;
}
.zitem-zeega00.zitem-30.error {
  background-position: -60px 0px;
}
.zitem-zeega01 {
  background-position: -50px -50px;
}
.zitem-zeega01.loaded {
  background-position: 0 -50px;
}
.zitem-zeega01.loaded {
  background-position: -100px -50px;
}
.zitem-zeega01.zitem-30 {
  background-position: -30px -30px;
}
.zitem-zeega01.zitem-30.loaded {
  background-position: 0 -30px;
}
.zitem-zeega01.zitem-30.error {
  background-position: -60px -30px;
}
.zitem-flickr {
  background-position: -50px -100px;
}
.zitem-flickr.loaded {
  background-position: 0 -100px;
}
.zitem-flickr.loaded {
  background-position: -100px -100px;
}
.zitem-flickr.zitem-30 {
  background-position: -30px -60px;
}
.zitem-flickr.zitem-30.loaded {
  background-position: 0 -60px;
}
.zitem-flickr.zitem-30.error {
  background-position: -60px -60px;
}
.zitem-vimeo {
  background-position: -50px -150px;
}
.zitem-vimeo.loaded {
  background-position: 0 -150px;
}
.zitem-vimeo.loaded {
  background-position: -100px -150px;
}
.zitem-vimeo.zitem-30 {
  background-position: -30px -90px;
}
.zitem-vimeo.zitem-30.loaded {
  background-position: 0 -90px;
}
.zitem-vimeo.zitem-30.error {
  background-position: -60px -90px;
}
.zitem-youtube {
  background-position: -50px -200px;
}
.zitem-youtube.loaded {
  background-position: 0 -200px;
}
.zitem-youtube.loaded {
  background-position: -100px -200px;
}
.zitem-youtube.zitem-30 {
  background-position: -30px -120px;
}
.zitem-youtube.zitem-30.loaded {
  background-position: 0 -120px;
}
.zitem-youtube.zitem-30.error {
  background-position: -60px -120px;
}
.zitem-twitter {
  background-position: -50px -250px;
}
.zitem-twitter.loaded {
  background-position: 0 -250px;
}
.zitem-twitter.loaded {
  background-position: -100px -250px;
}
.zitem-twitter.zitem-30 {
  background-position: -30px -150px;
}
.zitem-twitter.zitem-30.loaded {
  background-position: 0 -150px;
}
.zitem-twitter.zitem-30.error {
  background-position: -60px -150px;
}
.zitem-facebook {
  background-position: -50px -300px;
}
.zitem-facebook.loaded {
  background-position: 0 -300px;
}
.zitem-facebook.loaded {
  background-position: -100px -300px;
}
.zitem-facebook.zitem-30 {
  background-position: -30px -180px;
}
.zitem-facebook.zitem-30.loaded {
  background-position: 0 -180px;
}
.zitem-facebook.zitem-30.error {
  background-position: -60px -180px;
}
.zitem-google {
  background-position: -50px -350px;
}
.zitem-google.loaded {
  background-position: 0 -350px;
}
.zitem-google.loaded {
  background-position: -100px -350px;
}
.zitem-google.zitem-30 {
  background-position: -30px -210px;
}
.zitem-google.zitem-30.loaded {
  background-position: 0 -210px;
}
.zitem-google.zitem-30.error {
  background-position: -60px -210px;
}
.zitem-lastfm {
  background-position: -50px -400px;
}
.zitem-lastfm.loaded {
  background-position: 0 -400px;
}
.zitem-lastfm.loaded {
  background-position: -100px -400px;
}
.zitem-lastfm.zitem-30 {
  background-position: -30px -240px;
}
.zitem-lastfm.zitem-30.loaded {
  background-position: 0 -240px;
}
.zitem-lastfm.zitem-30.error {
  background-position: -60px -240px;
}
.zitem-tumblr {
  background-position: -50px -450px;
}
.zitem-tumblr.loaded {
  background-position: 0 -450px;
}
.zitem-tumblr.loaded {
  background-position: -100px -450px;
}
.zitem-tumblr.zitem-30 {
  background-position: -30px -270px;
}
.zitem-tumblr.zitem-30.loaded {
  background-position: 0 -270px;
}
.zitem-tumblr.zitem-30.error {
  background-position: -60px -270px;
}
.zitem-rss {
  background-position: -50px -500px;
}
.zitem-rss.loaded {
  background-position: 0 -500px;
}
.zitem-rss.loaded {
  background-position: -100px -500px;
}
.zitem-rss.zitem-30 {
  background-position: -30px -300px;
}
.zitem-rss.zitem-30.loaded {
  background-position: 0 -300px;
}
.zitem-rss.zitem-30.error {
  background-position: -60px -300px;
}
.zitem-picasa {
  background-position: -50px -550px;
}
.zitem-picasa.loaded {
  background-position: 0 -550px;
}
.zitem-picasa.loaded {
  background-position: -100px -550px;
}
.zitem-picasa.zitem-30 {
  background-position: -30px -330px;
}
.zitem-picasa.zitem-30.loaded {
  background-position: 0 -330px;
}
.zitem-picasa.zitem-30.error {
  background-position: -60px -330px;
}
.zitem-audio {
  background-position: -50px -600px;
}
.zitem-audio.loaded {
  background-position: 0 -600px;
}
.zitem-audio.loaded {
  background-position: -100px -600px;
}
.zitem-audio.zitem-30 {
  background-position: -30px -360px;
}
.zitem-audio.zitem-30.loaded {
  background-position: 0 -360px;
}
.zitem-audio.zitem-30.error {
  background-position: -60px -360px;
}
.zitem-geo {
  background-position: -50px -650px;
}
.zitem-geo.loaded {
  background-position: 0 -650px;
}
.zitem-geo.loaded {
  background-position: -100px -650px;
}
.zitem-geo.zitem-30 {
  background-position: -30px -390px;
}
.zitem-geo.zitem-30.loaded {
  background-position: 0 -390px;
}
.zitem-geo.zitem-30.error {
  background-position: -60px -390px;
}
.zitem-image {
  background-position: -50px -700px;
}
.zitem-image.loaded {
  background-position: 0 -700px;
}
.zitem-image.loaded {
  background-position: -100px -700px;
}
.zitem-image.zitem-30 {
  background-position: -30px -420px;
}
.zitem-image.zitem-30.loaded {
  background-position: 0 -420px;
}
.zitem-image.zitem-30.error {
  background-position: -60px -420px;
}
.zitem-video {
  background-position: -50px -750px;
}
.zitem-video.loaded {
  background-position: 0 -750px;
}
.zitem-video.loaded {
  background-position: -100px -750px;
}
.zitem-video.zitem-30 {
  background-position: -30px -450px;
}
.zitem-video.zitem-30.loaded {
  background-position: 0 -450px;
}
.zitem-video.zitem-30.error {
  background-position: -60px -450px;
}
.zitem-dropbox {
  background-position: -50px -800px;
}
.zitem-dropbox.loaded {
  background-position: 0 -800px;
}
.zitem-dropbox.loaded {
  background-position: -100px -800px;
}
.zitem-dropbox.zitem-30 {
  background-position: -30px -480px;
}
.zitem-dropbox.zitem-30.loaded {
  background-position: 0 -480px;
}
.zitem-dropbox.zitem-30.error {
  background-position: -60px -480px;
}
.zitem-soundcloud {
  background-position: -50px -850px;
}
.zitem-soundcloud.loaded {
  background-position: 0 -850px;
}
.zitem-soundcloud.loaded {
  background-position: -100px -850px;
}
.zitem-soundcloud.zitem-30 {
  background-position: -30px -510px;
}
.zitem-soundcloud.zitem-30.loaded {
  background-position: 0 -510px;
}
.zitem-soundcloud.zitem-30.error {
  background-position: -60px -510px;
}
.zitem-mapbox {
  background-position: -50px -900px;
}
.zitem-mapbox.loaded {
  background-position: 0 -900px;
}
.zitem-mapbox.loaded {
  background-position: -100px -900px;
}
.zitem-mapbox.zitem-30 {
  background-position: -30px -540px;
}
.zitem-mapbox.zitem-30.loaded {
  background-position: 0 -540px;
}
.zitem-mapbox.zitem-30.error {
  background-position: -60px -540px;
}
.zitem-absolute {
  background-position: -50px -950px;
}
.zitem-absolute.loaded {
  background-position: 0 -950px;
}
.zitem-absolute.loaded {
  background-position: -100px -950px;
}
.zitem-absolute.zitem-30 {
  background-position: -30px -570px;
}
.zitem-absolute.zitem-30.loaded {
  background-position: 0 -570px;
}
.zitem-absolute.zitem-30.error {
  background-position: -60px -570px;
}
.zitem-internetarchive {
  background-position: -50px -1000px;
}
.zitem-internetarchive.loaded {
  background-position: 0 -1000px;
}
.zitem-internetarchive.loaded {
  background-position: -100px -1000px;
}
.zitem-internetarchive.zitem-30 {
  background-position: -30px -600px;
}
.zitem-internetarchive.zitem-30.loaded {
  background-position: 0 -600px;
}
.zitem-internetarchive.zitem-30.error {
  background-position: -60px -600px;
}
.zitem-documentcloud {
  background-position: -50px -1050px;
}
.zitem-documentcloud.loaded {
  background-position: 0 -1050px;
}
.zitem-documentcloud.loaded {
  background-position: -100px -1050px;
}
.zitem-documentcloud.zitem-30 {
  background-position: -30px -630px;
}
.zitem-documentcloud.zitem-30.loaded {
  background-position: 0 -630px;
}
.zitem-documentcloud.zitem-30.error {
  background-position: -60px -630px;
}
.zitem-testamonial {
  background-position: -50px -1100px;
}
.zitem-testamonial.loaded {
  background-position: 0 -1100px;
}
.zitem-testamonial.loaded {
  background-position: -100px -1100px;
}
.zitem-testamonial.zitem-30 {
  background-position: -30px -660px;
}
.zitem-testamonial.zitem-30.loaded {
  background-position: 0 -660px;
}
.zitem-testamonial.zitem-30.error {
  background-position: -60px -660px;
}
.zitem-instagram {
  background-position: -50px -1150px;
}
.zitem-instagram.loaded {
  background-position: 0 -1150px;
}
.zitem-instagram.loaded {
  background-position: -100px -1150px;
}
.zitem-instagram.zitem-30 {
  background-position: -30px -690px;
}
.zitem-instagram.zitem-30.loaded {
  background-position: 0 -690px;
}
.zitem-instagram.zitem-30.error {
  background-position: -60px -690px;
}
.zitem-giphy {
  background-position: -50px -1200px;
}
.zitem-giphy.loaded {
  background-position: 0 -1200px;
}
.zitem-giphy.loaded {
  background-position: -100px -1200px;
}
.zitem-giphy.zitem-30 {
  background-position: -30px -720px;
}
.zitem-giphy.zitem-30.loaded {
  background-position: 0 -720px;
}
.zitem-giphy.zitem-30.error {
  background-position: -60px -720px;
}
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
}
/* White icons with optional class, or on hover/active states of certain elements */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: url("../img/glyphicons-halflings-white.png");
}
.icon-glass {
  background-position: 0      0;
}
.icon-music {
  background-position: -24px 0;
}
.icon-search {
  background-position: -48px 0;
}
.icon-envelope {
  background-position: -72px 0;
}
.icon-heart {
  background-position: -96px 0;
}
.icon-star {
  background-position: -120px 0;
}
.icon-star-empty {
  background-position: -144px 0;
}
.icon-user {
  background-position: -168px 0;
}
.icon-film {
  background-position: -192px 0;
}
.icon-th-large {
  background-position: -216px 0;
}
.icon-th {
  background-position: -240px 0;
}
.icon-th-list {
  background-position: -264px 0;
}
.icon-ok {
  background-position: -288px 0;
}
.icon-remove {
  background-position: -312px 0;
}
.icon-zoom-in {
  background-position: -336px 0;
}
.icon-zoom-out {
  background-position: -360px 0;
}
.icon-off {
  background-position: -384px 0;
}
.icon-signal {
  background-position: -408px 0;
}
.icon-cog {
  background-position: -432px 0;
}
.icon-trash {
  background-position: -456px 0;
}
.icon-home {
  background-position: 0 -24px;
}
.icon-file {
  background-position: -24px -24px;
}
.icon-time {
  background-position: -48px -24px;
}
.icon-road {
  background-position: -72px -24px;
}
.icon-download-alt {
  background-position: -96px -24px;
}
.icon-download {
  background-position: -120px -24px;
}
.icon-upload {
  background-position: -144px -24px;
}
.icon-inbox {
  background-position: -168px -24px;
}
.icon-play-circle {
  background-position: -192px -24px;
}
.icon-repeat {
  background-position: -216px -24px;
}
.icon-refresh {
  background-position: -240px -24px;
}
.icon-list-alt {
  background-position: -264px -24px;
}
.icon-lock {
  background-position: -287px -24px;
}
.icon-flag {
  background-position: -312px -24px;
}
.icon-headphones {
  background-position: -336px -24px;
}
.icon-volume-off {
  background-position: -360px -24px;
}
.icon-volume-down {
  background-position: -384px -24px;
}
.icon-volume-up {
  background-position: -408px -24px;
}
.icon-qrcode {
  background-position: -432px -24px;
}
.icon-barcode {
  background-position: -456px -24px;
}
.icon-tag {
  background-position: 0 -48px;
}
.icon-tags {
  background-position: -25px -48px;
}
.icon-book {
  background-position: -48px -48px;
}
.icon-bookmark {
  background-position: -72px -48px;
}
.icon-print {
  background-position: -96px -48px;
}
.icon-camera {
  background-position: -120px -48px;
}
.icon-font {
  background-position: -144px -48px;
}
.icon-bold {
  background-position: -167px -48px;
}
.icon-italic {
  background-position: -192px -48px;
}
.icon-text-height {
  background-position: -216px -48px;
}
.icon-text-width {
  background-position: -240px -48px;
}
.icon-align-left {
  background-position: -264px -48px;
}
.icon-align-center {
  background-position: -288px -48px;
}
.icon-align-right {
  background-position: -312px -48px;
}
.icon-align-justify {
  background-position: -336px -48px;
}
.icon-list {
  background-position: -360px -48px;
}
.icon-indent-left {
  background-position: -384px -48px;
}
.icon-indent-right {
  background-position: -408px -48px;
}
.icon-facetime-video {
  background-position: -432px -48px;
}
.icon-picture {
  background-position: -456px -48px;
}
.icon-pencil {
  background-position: 0 -72px;
}
.icon-map-marker {
  background-position: -24px -72px;
}
.icon-adjust {
  background-position: -48px -72px;
}
.icon-tint {
  background-position: -72px -72px;
}
.icon-edit {
  background-position: -96px -72px;
}
.icon-share {
  background-position: -120px -72px;
}
.icon-check {
  background-position: -144px -72px;
}
.icon-move {
  background-position: -168px -72px;
}
.icon-step-backward {
  background-position: -192px -72px;
}
.icon-fast-backward {
  background-position: -216px -72px;
}
.icon-backward {
  background-position: -240px -72px;
}
.icon-play {
  background-position: -264px -72px;
}
.icon-pause {
  background-position: -288px -72px;
}
.icon-stop {
  background-position: -312px -72px;
}
.icon-forward {
  background-position: -336px -72px;
}
.icon-fast-forward {
  background-position: -360px -72px;
}
.icon-step-forward {
  background-position: -384px -72px;
}
.icon-eject {
  background-position: -408px -72px;
}
.icon-chevron-left {
  background-position: -432px -72px;
}
.icon-chevron-right {
  background-position: -456px -72px;
}
.icon-plus-sign {
  background-position: 0 -96px;
}
.icon-minus-sign {
  background-position: -24px -96px;
}
.icon-remove-sign {
  background-position: -48px -96px;
}
.icon-ok-sign {
  background-position: -72px -96px;
}
.icon-question-sign {
  background-position: -96px -96px;
}
.icon-info-sign {
  background-position: -120px -96px;
}
.icon-screenshot {
  background-position: -144px -96px;
}
.icon-remove-circle {
  background-position: -168px -96px;
}
.icon-ok-circle {
  background-position: -192px -96px;
}
.icon-ban-circle {
  background-position: -216px -96px;
}
.icon-arrow-left {
  background-position: -240px -96px;
}
.icon-arrow-right {
  background-position: -264px -96px;
}
.icon-arrow-up {
  background-position: -289px -96px;
}
.icon-arrow-down {
  background-position: -312px -96px;
}
.icon-share-alt {
  background-position: -336px -96px;
}
.icon-resize-full {
  background-position: -360px -96px;
}
.icon-resize-small {
  background-position: -384px -96px;
}
.icon-plus {
  background-position: -408px -96px;
}
.icon-minus {
  background-position: -433px -96px;
}
.icon-asterisk {
  background-position: -456px -96px;
}
.icon-exclamation-sign {
  background-position: 0 -120px;
}
.icon-gift {
  background-position: -24px -120px;
}
.icon-leaf {
  background-position: -48px -120px;
}
.icon-fire {
  background-position: -72px -120px;
}
.icon-eye-open {
  background-position: -96px -120px;
}
.icon-eye-close {
  background-position: -120px -120px;
}
.icon-warning-sign {
  background-position: -144px -120px;
}
.icon-plane {
  background-position: -168px -120px;
}
.icon-calendar {
  background-position: -192px -120px;
}
.icon-random {
  background-position: -216px -120px;
  width: 16px;
}
.icon-comment {
  background-position: -240px -120px;
}
.icon-magnet {
  background-position: -264px -120px;
}
.icon-chevron-up {
  background-position: -288px -120px;
}
.icon-chevron-down {
  background-position: -313px -119px;
}
.icon-retweet {
  background-position: -336px -120px;
}
.icon-shopping-cart {
  background-position: -360px -120px;
}
.icon-folder-close {
  background-position: -384px -120px;
}
.icon-folder-open {
  background-position: -408px -120px;
  width: 16px;
}
.icon-resize-vertical {
  background-position: -432px -119px;
}
.icon-resize-horizontal {
  background-position: -456px -118px;
}
.icon-hdd {
  background-position: 0 -144px;
}
.icon-bullhorn {
  background-position: -24px -144px;
}
.icon-bell {
  background-position: -48px -144px;
}
.icon-certificate {
  background-position: -72px -144px;
}
.icon-thumbs-up {
  background-position: -96px -144px;
}
.icon-thumbs-down {
  background-position: -120px -144px;
}
.icon-hand-right {
  background-position: -144px -144px;
}
.icon-hand-left {
  background-position: -168px -144px;
}
.icon-hand-up {
  background-position: -192px -144px;
}
.icon-hand-down {
  background-position: -216px -144px;
}
.icon-circle-arrow-right {
  background-position: -240px -144px;
}
.icon-circle-arrow-left {
  background-position: -264px -144px;
}
.icon-circle-arrow-up {
  background-position: -288px -144px;
}
.icon-circle-arrow-down {
  background-position: -312px -144px;
}
.icon-globe {
  background-position: -336px -144px;
}
.icon-wrench {
  background-position: -360px -144px;
}
.icon-tasks {
  background-position: -384px -144px;
}
.icon-filter {
  background-position: -408px -144px;
}
.icon-briefcase {
  background-position: -432px -144px;
}
.icon-fullscreen {
  background-position: -456px -144px;
}
html {
  background: black;
  font-family: 'Helvetica', sans-serif;
}
#main {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
}
#main #overlays {
  background: none !important;
}
#main #player {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: orangered;
}
a:active {
  color: orangered;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url('http://themes.googleusercontent.com/font?kit=zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0') format('woff');
}
@font-face {
  font-family: 'Trocchi';
  font-style: normal;
  font-weight: 400;
  src: local('Trocchi'), url(http://themes.googleusercontent.com/static/fonts/trocchi/v1/FxnVMeU6MpRiIW8IbIEcBwLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: normal;
  font-weight: 400;
  src: local('Sorts Mill Goudy Regular'), local('SortsMillGoudy-Regular'), url(http://themes.googleusercontent.com/static/fonts/sortsmillgoudy/v3/JzRrPKdwEnE8F1TDmDLMUtsZ51dqzBwIdH2JuTl9mv4.woff) format('woff');
}
@font-face {
  font-family: 'Pontano Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Pontano Sans'), local('PontanoSans-Regular'), url(http://themes.googleusercontent.com/static/fonts/pontanosans/v1/gTHiwyxi6S7iiHpqAoiE3KRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/poiretone/v1/HrI4ZJpJ3Fh0wa5ofYMK8b3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Nova Mono';
  font-style: normal;
  font-weight: 400;
  src: local('NovaMono'), url(http://themes.googleusercontent.com/static/fonts/novamono/v4/pN6VVBY03b9QLz-7i6Kl0bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(http://themes.googleusercontent.com/static/fonts/orbitron/v3/94ug0rEgQO_WuI_xKJMFc3YhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
@font-face {
  font-family: 'Wendy One';
  font-style: normal;
  font-weight: 400;
  src: local('Wendy One'), local('WendyOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/wendyone/v1/oRf9i5HKN7RZoSnys4E2urO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Antic';
  font-style: normal;
  font-weight: 400;
  src: local('Antic'), local('Antic-Regular'), url(http://themes.googleusercontent.com/static/fonts/antic/v4/H5LHGZ96YFhyWzkob5-G-aCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
@font-face {
  font-family: 'Monofett';
  font-style: normal;
  font-weight: 400;
  src: local('Monofett'), url(http://themes.googleusercontent.com/static/fonts/monofett/v3/94n9d8-lEEaOz-Sn4plHGHYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
@font-face {
  font-family: 'Rock Salt';
  font-style: normal;
  font-weight: 400;
  src: local('Rock Salt'), local('RockSalt'), url(http://themes.googleusercontent.com/static/fonts/rocksalt/v3/Q94aHXFHGip10K5uxi1jOLO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Cutive Mono'), local('CutiveMono-Regular'), url(http://themes.googleusercontent.com/static/fonts/cutivemono/v1/N5odNRruTwjvCM8y77PhQbrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'New Rocker';
  font-style: normal;
  font-weight: 400;
  src: local('New Rocker'), local('NewRocker-Regular'), url(http://themes.googleusercontent.com/static/fonts/newrocker/v1/WxdbiEM9pvmAfOzkEv7pc73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Londrina Outline';
  font-style: normal;
  font-weight: 400;
  src: local('Londrina Outline'), local('LondrinaOutline-Regular'), url(http://themes.googleusercontent.com/static/fonts/londrinaoutline/v1/lls08GOa1eT74p072l1AWNNNRtILQnhF8IuY18ihom0.woff) format('woff');
}
@font-face {
  font-family: 'Yellowtail';
  font-style: normal;
  font-weight: 400;
  src: local('Yellowtail'), url(http://themes.googleusercontent.com/static/fonts/yellowtail/v3/GcIHC9QEwVkrA19LJU1qlL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Fascinate';
  font-style: normal;
  font-weight: 400;
  src: local('Fascinate'), local('Fascinate-Regular'), url(http://themes.googleusercontent.com/static/fonts/fascinate/v2/NnlsYos1mCtA9prs2JfnBbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  src: local('Archivo Black Regular'), local('ArchivoBlack-Regular'), url(http://themes.googleusercontent.com/static/fonts/archivoblack/v1/WoAoVT7K3k7hHfxKbvB6BzpmDuvrsAe6P6TsPq9xwrw.woff) format('woff');
}
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(http://themes.googleusercontent.com/static/fonts/greatvibes/v1/6q1c0ofG6NKsEhAc2eh-3brIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Londrina Sketch';
  font-style: normal;
  font-weight: 400;
  src: local('Londrina Sketch'), local('LondrinaSketch-Regular'), url(http://themes.googleusercontent.com/static/fonts/londrinasketch/v1/p7Ai06aT1Ycp_D2fyE3z6z0WCr4BXWfANofoahM5yqc.woff) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v3/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: 400;
  src: local('Nobile'), local('Nobile-Regular'), url(http://themes.googleusercontent.com/static/fonts/nobile/v4/BdG5WJmB9CCPn6im5Y8A5OvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/Ewe0SEXPrakEimFzbOGwB6CWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://themes.googleusercontent.com/static/fonts/pressstart2p/v1/8Lg6LX8-ntOHUQnvQ0E7o2jf3WypfQQP02nP_ZmoBRo.woff) format('woff');
}
@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Sketch Regular'), local('CabinSketch-Regular'), url(http://themes.googleusercontent.com/static/fonts/cabinsketch/v5/d9fijO34zQajqQvl3YHRCaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Codystar';
  font-style: normal;
  font-weight: 400;
  src: local('Codystar'), url(http://themes.googleusercontent.com/static/fonts/codystar/v1/BraFEMRumMsVbWgqTQIWRHYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
@font-face {
  font-family: 'Allerta Stencil';
  font-style: normal;
  font-weight: 400;
  src: local('Allerta Stencil Regular'), local('AllertaStencil-Regular'), url(http://themes.googleusercontent.com/static/fonts/allertastencil/v4/CdSZfRtHbQrBohqmzSdDYKqcRvMv63bhrwdN_8Hu8N8.woff) format('woff');
}
@font-face {
  font-family: 'Ultra';
  font-style: normal;
  font-weight: 400;
  src: local('Ultra'), url(http://themes.googleusercontent.com/static/fonts/ultra/v4/t6mIy8eXn5ez80xN9-0lvKCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
@font-face {
  font-family: 'Faster One';
  font-style: normal;
  font-weight: 400;
  src: local('Faster One'), local('FasterOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/fasterone/v1/R45a6_a3GGq28ugU8uxGWb3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;
  src: local('Aldrich'), url(http://themes.googleusercontent.com/static/fonts/aldrich/v3/VWXaIPGrUapL_Y2vGs0lKALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Bilbo Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: local('Bilbo Swash Caps'), local('BilboSwashCaps-Regular'), url(http://themes.googleusercontent.com/static/fonts/bilboswashcaps/v4/UB_-crLvhx-PwGKW1oosDppiXHUW_j-Nj6xnA-wH-j0.woff) format('woff');
}
@font-face {
  font-family: 'Finger Paint';
  font-style: normal;
  font-weight: 400;
  src: local('Finger Paint'), local('FingerPaint-Regular'), url(http://themes.googleusercontent.com/static/fonts/fingerpaint/v1/m_ZRbiY-aPb13R3DWPBGX6RDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Ewert';
  font-style: normal;
  font-weight: 400;
  src: local('Ewert'), local('Ewert-Regular'), url(http://themes.googleusercontent.com/static/fonts/ewert/v1/32zt7mPTGOP9C_29yULlQaCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
.ZEEGA-player-controls {
  pointer-events: auto;
  position: absolute;
  top: 40%;
  width: 100%;
}
.arrow {
  display: inline-block;
  height: 60px;
  border-left: 10px solid;
  border-top: 10px solid;
  border-color: #ffffff;
  opacity: 0.85;
  position: absolute;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  /* Firefox 4 */

  -webkit-transition: border-color 0.5s;
  /* Safari and Chrome */

  -o-transition: border-color 0.5s;
  /* Opera */

  width: 60px;
  z-index: 100;
  box-shadow: 0 0 50px transparent;
}
.arrow:hover {
  border-color: #ffa500;
  transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
  -webkit-transition: border-color 0.5s;
  -o-transition: border-color 0.5s;
  opacity: 1;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  /* Firefox 4 */

  -webkit-transition: opacity 0.5s;
  /* Safari and Chrome */

  -o-transition: opacity 0.5s;
  /* Opera */

}
.arrow.arrow-left {
  left: 15px;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  /* IE 9 */

  -moz-transform: rotate(-45deg);
  /* Firefox */

  -webkit-transform: rotate(-45deg);
  /* Safari and Chrome */

  -o-transform: rotate(-45deg);
  /* Opera */

  -webkit-filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.5));
}
.arrow.arrow-left:hover {
  -webkit-filter: drop-shadow(-8px 8px 6px rgba(0, 0, 0, 0.5));
}
.arrow.arrow-right {
  right: 15px;
  transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  /* IE 9 */

  -moz-transform: rotate(135deg);
  /* Firefox */

  -webkit-transform: rotate(135deg);
  /* Safari and Chrome */

  -o-transform: rotate(135deg);
  /* Opera */

  -webkit-filter: drop-shadow(4px -4px 4px rgba(0, 0, 0, 0.5));
}
.arrow.arrow-right:hover {
  -webkit-filter: drop-shadow(8px -8px 6px rgba(0, 0, 0, 0.5));
}
.arrow.disabled {
  opacity: 0.0;
  pointer-events: none;
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  /* Firefox 4 */

  -webkit-transition: opacity 0.5s;
  /* Safari and Chrome */

  -o-transition: opacity 0.5s;
  /* Opera */

}
.ZEEGA-player-citations {
  bottom: 0;
  padding: 10px 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 11;
  pointer-events: auto;
}
.ZEEGA-player-citations a {
  cursor: pointer;
}
.ZEEGA-player-citations .citation-meta {
  font-size: 11px;
  clear: both;
  margin-top: 5px;
}
.ZEEGA-player-citations .citation-meta .citation-title {
  position: relative;
  top: 10px;
}
.ZEEGA-player-citations .ZEEGA-home {
  position: relative;
  background-image: url(../img/restart.png);
  background-size: 45px;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  float: right;
  display: none;
  opacity: 0.75;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}
.ZEEGA-player-citations .ZEEGA-home:hover {
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}
.ZEEGA-player-citations .ZEEGA-home img {
  width: 100%;
}
.ZEEGA-loader-overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  color: white;
  position: absolute;
}
.ZEEGA-loader-overlay .ZEEGA-loader-bg-overlay {
  background: url(../img/tiny-stripes-dark.png);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.ZEEGA-loader-overlay .ZEEGA-loader-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}
.ZEEGA-player-menu-bar {
  pointer-events: auto;
  position: absolute;
  width: 100%;
  z-index: 11;
}
.ZEEGA-player-menu-bar a {
  cursor: pointer;
}
.ZEEGA-player-menu-bar .menu-right {
  float: right;
  margin-top: 12px;
  margin-right: 10px;
}
.ZEEGA-player-menu-bar .menu-right a {
  display: inline-block;
  margin-top: 0;
  float: left;
  margin-right: 10px;
}
.ZEEGA-player-menu-bar .social-share-icon {
  opacity: 0.8;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}
.ZEEGA-player-menu-bar .social-share-icon:hover {
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}
.btnz {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 2px;
  background-image: url(../img/tiny-stripes.png);
  margin-top: 12px;
  position: relative;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-family: "futura", sans-serif;
  font-size: 13px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.75), 0px -1px 0px rgba(0, 0, 0, 0.75);
}
.btnz:hover {
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.75);
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.ZEEGA-sound-state {
  background: transparent;
  background-repeat: no-repeat;
  background-image: url(../img/sounds-sprite.png);
  background-position: 0 0px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 0 0 2px 2px;
  z-index: 2;
  background-size: 30px 150px;
  right: 20px;
  top: 20px;
}
.ZEEGA-sound-state.muted {
  background-position: 0px -30px;
}
.ZEEGA-sound-state.loading-0 {
  background-position: 0px -60px;
}
.ZEEGA-sound-state.loading-1 {
  background-position: 0px -90px;
}
.ZEEGA-sound-state.loading-2 {
  background-position: 0px -120px;
}
.btnz.explore-zeega {
  background-image: url(../img/tiny-stripes-dark.png);
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 1em;
  width: 550px;
  text-align: center;
  background-color: rgba(255, 69, 0, 0.5);
  font-size: 3em;
}
.btnz.explore-zeega:hover {
  color: white;
  background-color: #ff4500;
}
.pause-overlay {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
}
.pause-overlay .play {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 25%;
  height: 25%;
  background: url(../img/start-button.png) no-repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.ZEEGA-tab {
  background: red;
  display: inline-block;
  padding: 5px;
  margin-left: 20px;
  width: 30px;
  height: 35px;
  float: left;
  margin-right: 20px;
  border-radius: 0 0 2px 2px;
  position: relative;
  z-index: 2;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.ZEEGA-tab .ZTab-logo {
  height: 30px;
  width: 30px;
  background-image: url(../img/zeega-logo-white-30.png);
  margin-top: 2px;
}
.ZEEGA-tab:hover {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  padding-top: 10px;
}
.profile-token {
  border-radius: 28px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  float: left;
  border: 2px solid orangered;
}
.profile-token img {
  width: 100%;
}
.ZEEGA-chrome-metablock {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-top: 1px solid #222;
}
.ZEEGA-chrome-metablock a {
  color: orangered;
}
.ZEEGA-chrome-metablock .meta-inner {
  padding: 10px 20px;
}
.ZEEGA-chrome-metablock .meta-inner:after {
  content: "";
  display: table;
  clear: both;
}
.ZEEGA-chrome-metablock .left-col {
  float: left;
  margin-right: 20px;
}
.ZEEGA-chrome-metablock .left-col:after {
  content: "";
  display: table;
  clear: both;
}
.ZEEGA-chrome-metablock .right-col {
  float: left;
  width: 300px;
  min-height: 20px;
}
.ZEEGA-chrome-metablock .right-col .username {
  font-size: 11px;
  position: absolute;
  bottom: 10px;
}
.ZEEGA-chrome-metablock .right-col .username .zeega-views {
  opacity: 0.75;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}
.ZEEGA-chrome-metablock .right-col .username .zeega-views i {
  position: relative;
  top: -2px;
}
.ZEEGA-chrome-metablock .right-col .username .zeega-views:hover {
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}
.ZEEGA-chrome-metablock .right-col .caption {
  line-height: 1.1em;
  font-size: 13px;
  word-wrap: break-word;
}
.ZEEGA-chrome-metablock .favorite {
  float: left;
  display: none;
}
.ZEEGA-chrome-metablock .favorite .btnz {
  margin-top: 6px;
  color: white;
  background-color: grey;
}
.ZEEGA-chrome-metablock .favorite .btnz:hover {
  background-color: #ff4500;
}
.ZEEGA-chrome-metablock .favorite .btnz.favorited {
  background-color: #ff4500;
  background-image: none;
}
.ZEEGA-chrome-metablock .citations {
  float: right;
}
.ZEEGA-chrome-metablock .citations li {
  float: right;
  margin-right: 5px;
}
.ZEEGA-notices {
  position: absolute;
  top: 70px;
  left: 20px;
  font-size: 20px;
  font-weight: 100;
  font-family: "Futura", sans-serif;
}
.ZEEGA-notices li {
  margin-bottom: 5px;
}
.ZEEGA-notices i {
  top: 5px;
  position: relative;
}
.ZEEGA-notices .rotating li {
  opacity: 0;
  position: absolute;
  width: 200px;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}
.ZEEGA-notices .rotating li.active {
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}
