
    <span class="tags">
        <h1>Explore more Zeegas...  <br>
            <a data-bypass="true" href="<%=path %>tag/bestof" class="tag-link" name="bestof">#bestof</a>
            <a data-bypass="true" href="<%=path %>tag/music" class="tag-link" name="music">#music</a>
            <a data-bypass="true" href="<%=path %>tag/politics" class="tag-link" name="politics">#politics</a>
            <a data-bypass="true" href="<%=path %>tag/stories" class="tag-link" name="stories">#stories</a>
            <a data-bypass="true" href="<%=path %>tag/funny" class="tag-link" name="funny">#funny</a>
            <a data-bypass="true" href="<%=path %>tag/sports" class="tag-link" name="sports">#sports</a>
            <a data-bypass="true" href="<%=path %>tag/zeegacard" class="tag-link" name="zeegacard">#zeegacard</a>
            <a data-bypass="true" href="<%=path %>tag/tribute" class="tag-link" name="tribute">#tribute</a>
            <a data-bypass="true" href="<%=path %>tag/todayinzeega" class="tag-link" name="todayinzeega">#dailyzeega</a>
        </h1>
    </span>
    <% if (userId == -1 ){ %>
        <span >
            <h1>
                <a class="btnz join-zeega" href="<%=path %>register" >Join Zeega</a>
            </h1>
        </span>   
    <% } %>