<div class="about" />
    
    <div class="logo-wrapper">
        <span class="logo-mini"></span>
    </div>

    <div>
        <h2>
            is the easiest way to create and share interactive videos.
            <a class="about-link" href="http://blog.zeega.com/about">Learn more.</a>
        <h2>
        <br>
        <a class="btnz join-zeega" href="<%=path %>register" > Sign Up</a>
    </div>

</div>

<div class="explore">
    <h2>Explore:</h2>
    <ul>
        <li>
            <a data-bypass="true" href="<%=path %>tag/bestof" class="tag-link" name="bestof">#bestof</a>
        </li>
        <li>
            <a data-bypass="true" href="<%=path %>tag/music" class="tag-link" name="music">#music</a>
        </li>
        <li>
            <a data-bypass="true" href="<%=path %>tag/politics" class="tag-link" name="politics">#politics</a>
        </li>
        <li>
            <a data-bypass="true" href="<%=path %>tag/stories" class="tag-link" name="stories">#stories</a>
        </li>
        <li>
            <a data-bypass="true" href="<%=path %>tag/funny" class="tag-link" name="funny">#funny</a>
        </li>
        <li>
            <a data-bypass="true" href="<%=path %>tag/sports" class="tag-link" name="sports">#sports</a>
        </li>
        <li>
            <a data-bypass="true" href="<%=path %>tag/tribute" class="tag-link" name="tribute">#tribute</a>
        </li>
        <li>
            <a data-bypass="true" href="<%=path %>tag/zeegacard" class="tag-link" name="zeegacard">#zeegacard</a>
        </li>
        <li>
            <a data-bypass="true" href="<%=path %>tag/todayinzeega" class="tag-link" name="todayinzeega">#dailyzeega</a>
        </li>
    </ul>
</div>